<html>
	<head>
		<link rel="stylesheet" href="application.css" type="text/css" />
	</head>

	<body>
		<form action="/twitter" method ="post">
			<input type="input" name="first_hash"></input>
			<input type="input" name="second_hash"></input>
			<input type="submit"></input>
		</form>


		<!-- <h1>hey what's up, <%=@name%>! </h1>
		<p>This is random text</p>

		<h1>My name is <%=@name%> </h1>
		<%if @show_description%>
		  <p>This is my description</p>
		<%end%> -->


	</body>

</html>